
/*--------- main-sidebar ---------*/

.cont_user_img
{
	/*border: dotted 1px;*/
	text-align: center ;
	height: 170px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
.spn_user
{
	display: block;
	padding-top: 3px;
	
}

#green_circle
{
    font-size: 0.1rem ;	
}



/*--------- Main Navbar ---------*/
.main-navbar .navbar 
{
    height: 3.3rem;
}

.main-navbar .navbar .notifications .badge 
{
	top: 42%;
}

.nav-link-icon__wrapper .material-icons
{
	top: -4px;
}

#img_cont
{
	padding-top: 5px;
}

.search_form
{
	width: 100%;
	height: auto;
	/*background: orange;*/
}

.search_form input
{
	width: 95%;
	height: auto;
	margin: 10px auto;
	border-radius: 18px; 	
}

/*----------*/
.has-search
{
	width: 90%;
	height: auto;
	margin: 7px auto;	
} 

.has-search .form-control {
padding-left: 2.375rem;
}
.has-search .form-control-feedback {
position: absolute;
z-index: 2;
display: block;
width: 2.375rem;
height: 2.375rem;
line-height: 2.375rem;
text-align: center;
pointer-events: none;
color: #aaa;

}
/*----------*/



/*--------- Small Stats Blocks ---------*/

.row02
{
	margin-top: 20px;
}

.stats-small
{
	min-height: 7.7rem;
}

.cont_icon
{
	width: 77%;
    max-width: 86%;
    height: 104px;
    border: dotted 1px gray;
    text-align: center;
    margin: 17px auto;
    border-radius: 13px;
    padding-top: 16px;
}
.cont_icon i
{
	font-size: 4em ;
	opacity: 0.1 ; 
}

/************* Hover Effects *************/
/**grow**/
.hvr-grow
{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
/**radial-out**/
.hvr-radial-out {
  background: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.hvr-radial-out:before {
  background: #e1e1e138;
  border-radius: 100%;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
 
}
/**wobble-horizontal**/
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
 
}

/* Google icons and fonts apis */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v126/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* view all notifications */

.notif_box:hover{
	background-color: #f5f5f5 ;
	
}





