/*Sweet Alert*/
.swal2-popup{
	top: -80px;
}

body {
    background: #f5f6f8;
    /* height: 1000px; */
}

/*-- Navbar  --*/
.navbar {
    width: 100%;
    height: 149px;
    display: block !important;
    position: static;
}

/*-- Nav Header --*/
.nav_header {
    width: 100%;
    height: 50px;
    /*border: dotted 2px;*/
    margin-top: 23px;
    padding: 1px;
}

.logo_cont {
    width: 18%;
    height: 100%;
    float: left;
    /*border: solid 1px orange;*/
    position: relative;
    /*left: -172px;*/
    display: none;
}
.search_cont {
    width: 45%;
    height: 100%;
    float: left;
    /*border: solid 1px orange;*/
    position: relative;
    top: -70px;
    left: 28px;
    opacity: 0.1;
}
.search_cont .has-search span {
    position: absolute;
    top: 14px;
    right: 18px;
    float: right;
    color: #c3c7cc;
}
.search_cont .has-search input {
    height: calc(2.25rem + 7px) !important;
    border-radius: 20px;
}

.notif_cont {
    width: 26.5%;
    height: 100%;
    float: right;
    /*border: solid 1px orange;*/
    border-radius: 5px;
    background: #f7f7f7;
    display: none;
}
.notif_cont ul {
    width: 100%;
    height: 100%;
}
.notif_cont ul li {
    width: 20%;
    height: 100%;
    /*border: dotted 1px;*/
    float: left;
    margin-left: 32px;
    list-style-type: none;
    padding-top: 7px;
}

/*-- Featured container  --*/

.Featured_cont {
    width: 70.4%;
    height: auto;
    /*border: dotted 2px;*/
    float: left;
    margin-top: 120px;
    position: relative;
    /*top: 500px;*/
    left: 17px;
    opacity: 0.1;
}

.Featured_cont .card-body {
    padding: 4.25rem;
}

/*-- Profile container  --*/

.cont_profile {
    max-width: 28.333333%;
    min-width: 28.333333%;
    /*border: dotted 2px;*/
    position: absolute;
    top: 106px;
    right: -355px;
    opacity: 0.1;
}

/*-- Main container  --*/
.main_cont {
    width: 70.4%;
    height: 527px;
    /*border: dotted 2px;*/
    position: absolute;
    top: 108px;
    left: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main_cont .card {
    width: 32%;
    height: 250px;
    border: 1px solid rgba(28, 28, 28, 0.23);
    text-align: center;
}

#box_one {
    position: relative;
    top: 230px;
    opacity: 0.1;
}
#box_two {
    position: relative;
    top: 170px;
    opacity: 0.1;
}
#box_three {
    position: relative;
    top: 110px;
    opacity: 0.1;
}

.cont_icon {
    width: 68%;
    max-width: 86%;
    height: 127px;
    border: dotted 1px gray;
    text-align: center;
    margin: 29px auto;
    border-radius: 16px;
    padding-top: 24px;
}

/************* Hover Effects *************/
/**grow**/
.hvr-grow {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
/**radial-out**/
.hvr-radial-out {
    background: none;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}
.hvr-radial-out:before {
    background: #e1e1e138;
    border-radius: 100%;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}
/**wobble-horizontal**/
.hvr-wobble-horizontal:hover,
.hvr-wobble-horizontal:focus,
.hvr-wobble-horizontal:active {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

/* fallback */ /* google fonts & icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v128/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/***************************/
.rad_btn_cont{
	margin: 20px auto;
	height: 128px;
    /*background: red;*/
}
.cont_labl_inpt{
	position: relative;
    top: -18px;
    margin-left: 17px;
}
.salles_form_cont{
	display: none;
}
.vehc_form_cont{
	display: none;
}

.modal_dlg_rsv{
	margin:5.55rem auto;
	max-width: 675px !important;
}

.salles_form_cont .row{
	margin: 5px auto;
	/*margin-bottom:10px;*/
}

.vehc_form_cont .row{
	margin: 5px auto;
	/*margin-bottom:10px;*/
}

.icon_inpt_container{
	width: 44%;
    height: 127px;
	float:left;
    border: dotted 1px gray;
    text-align: center;
    border-radius: 16px;
    padding-top: 24px;
	display:inline;
}

.style_col_rd_btn {
    padding-left: 5px;
    margin-top: 36px;
    text-align: center;
}


/*------------------------ progress bar  style -------------------------*/
.prog_bar_cont{	
	width: 70%;
	position: absolute;
	top: 320px;
	left: 110px;
}

.prog_bar_loader{
	width: 0%;
	height: 17px;
	background-color: #fd7e14;
	
}

#wait_title{
	position: relative;
	left: 240px;
	top: 210px;
}

#spn_bdg{
	position: relative;
	top: -5px;
	left: -2px;
}
.list_notif_container img{
	border-radius: 50%;
	width: 40px;
	margin-right: 9px;
}
#_icon_notif{
	color: #c3c7cc;
	font-size: 1.7925rem;
	margin-top: -6px;
	margin-left: -39px;
}

#_bdg_nbr_user_ntf{
  display:none;
  position: relative;
  bottom: 12px;
  right: 8px;
  padding-bottom: 3px;
  padding-top: 1.8px;
}


.logo_cont img{
    width: 42.5%;
    position: relative;
    left: 17px;
}

#notif_confirmation_modal{
	margin-top: 81px;
	height: 285px;	
}

#notif_confirmation_modal .modal-content{
	height: 285px;	
}

#exampleModal_rsv{
	top: -46px !important;
}

