#form_container
{
	padding:15px 15px;
	background: #fff;	
}




/*-------------------- LIST DES UTILISATEURS -----------------------*/

#page-content{
    
    margin-top:100px;
}


.contact_page_cont a {
    color: #448bff;
    text-decoration: none;
    background-color: transparent
}

.contact_page_cont a:hover {
    color: #005ef7;
    text-decoration: underline
}

.contact_page_cont a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none
}

.contact_page_cont a:not([href]):not([tabindex]):focus,
.contact_page_cont a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none
}

.contact_page_cont a:not([href]):not([tabindex]):focus {
    outline: 0
}





.contact_page_cont .text-muted {
    color: #99a0ac!important
}

.contact_page_cont .block,
.contact_page_cont .card {
    background: #fff;
    border-width: 0;
    border-radius: .25rem;
	border-bottom: dotted 0.1px #dfdfdfb0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    /*margin-bottom: 1.5rem*/
}

.contact_page_cont .avatar {
    position: relative;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 500px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
}

.contact_page_cont .avatar img {
    border-radius: inherit;
    width: 100%
}

.contact_page_cont .gd-primary {
    color: #fff;
    border: none;
    background: #448bff linear-gradient(45deg, #448bff, #44e9ff)
}


.contact_page_cont .gd-success {
    color: #fff;
    border: none;
    background: #31c971 linear-gradient(45deg, #31c971, #3dc931)
}



.contact_page_cont.gd-info {
    color: #fff;
    border: none;
    background: #14bae4 linear-gradient(45deg, #14bae4, #14e4a6)
}


.contact_page_cont.gd-warning {
    color: #fff;
    border: none;
    background: #f4c414 linear-gradient(45deg, #f4c414, #f45414)
}


@media (min-width:992px) {
    .page-container {
        max-width: 1140px;
        margin: 0 auto
    }
    .page-sidenav {
        display: block!important
    }
}


.contact_page_cont .list {
    padding-left: 0;
    padding-right: 0
}

.contact_page_cont .list-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word
}





.contact_page_cont .list-row .list-item {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    padding: .75rem .625rem
}

.contact_page_cont .list-row .list-item>* {
    padding-left: .625rem;
    padding-right: .625rem
}



.contact_page_cont .no-wrap {
    white-space: nowrap
}



.contact_page_cont.text-color {
    color: #5e676f
}



.contact_page_cont.text-gd {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent
}



.contact_page_cont .text-sm {
    font-size: .825rem
}

.contact_page_cont.h-1x {
    height: 1.25rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}


.contact_page_cont .w-48 {
    width: 48px!important;
    height: 48px!important
}


.contact_page_cont a:link{

   text-decoration: none;
}

.contact_page_cont .list-item:hover{
	background-color: #f9f9f9e0;
}
.users_list_cont{
	height: 514px;
	overflow-y: scroll ;
}